@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(137, 43, 226, 0.646); */
    background: linear-gradient(to bottom right, rgba(84, 83, 213, 1), rgba(252, 180, 180, 1))
}

.card {
    background-color: white;
    padding: 30px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    position: relative;
}

.card-header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    color: rgba(84, 83, 213, 1);
}
.timmerspan{
    font-size: 30px;
   
}

hr {
    width: 85%;
    margin: auto;
}

.card-body {
    margin: 20px;
        margin-bottom: 50px;
    }

    .card-body .card-title {
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
    }

    .card-body ul li {
        list-style: none;
        padding: 5px;
    }
    h1{
        font-family: 'Jersey 15', sans-serif;
        /* font-size: 90px; */
    }
    h2{
        font-family: 'Merriweather', sans-serif;
    }
    label{
        font-family: 'Oswald', sans-serif;
        font-size: large;
    }

    .answer {
        /* accent-color: blueviolet; */
        accent-color: rgba(84, 83, 213, 1);
    }

    /* .card-footer .btn {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 13px;
        width: 100%;
        border: none;
        /* background-color: blueviolet; */
        /* background-color: rgba(84, 83, 213, 1);
        color: white;
        font-size: 18px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    } */ 



    .card-footer .btn:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    #alertsc {
        display: none;
    }


    .button {
      display: inline-block;
      padding: .75rem 1.25rem;
      border-radius: 10rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: .15rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
                background-color: #0cf;
                border-radius: 10rem;
                z-index: -2;
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: darken(#0cf, 15%);
                transition: all .3s;
                border-radius: 10rem;
            }
            z-index: -1;
        }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }

    .card-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }